<div class="col-12 bg-secondary12 pt-5 ps-5 pe-5 ">
    <div class="bg-body p-4 Orders12">
        <div class="col-12">
            <div class="row border rounded-312 m-2">
                <div class="d-flex justify-content-end mt-2 pe-5"><a href="#">
                        <i class="far fa-chevron-right"></i></a></div>
                <div class="col-7 ps-4">
                    <p class="order-name mb-0">John Attala</p>
                    <p class="order-details">Lorem Ipsum </p>
                    <p class="order-details">Lorem Ipsum is simply dummy text</p>
                    <div class="d-flex mt-2">
                        <p class="date-price">$23</p>
                        <p class="date-price ms-2">14 oct, 8:41 PM</p>
                    </div>
                    <p class="pickup"><i class="fas fa-check-circle me-2"></i>PICKUP</p>

                </div>
                <div class="col-5 d-flex align-items-center">
                    <img class="rounded-circle " src="../../../../assets/images/Ellipse 52.png" alt="" width="50%">
                </div>
            </div>
            <div class="row border rounded-312 m-2 mt-4">
                <div class="d-flex justify-content-end mt-2 pe-5"><a href="#">
                        <i class="far fa-chevron-right"></i></a></div>
                <div class="col-7 ps-4">
                    <p class="order-name mb-0">John Attala</p>
                    <p class="order-details">Lorem Ipsum </p>
                    <p class="order-details">Lorem Ipsum is simply dummy text</p>
                    <div class="d-flex mt-2">
                        <p class="date-price">$23</p>
                        <p class="date-price ms-2">14 oct, 8:41 PM</p>
                    </div>
                    <p class="pickup"><i class="fas fa-check-circle me-2"></i>PICKUP</p>

                </div>
                <div class="col-5 d-flex align-items-center">
                    <img class="rounded-circle " src="../../../../assets/images/Ellipse 52.png" alt="" width="50%">
                </div>
            </div>
            <div class="row border rounded-312 m-2 mt-4">
                <div class="d-flex justify-content-end mt-2 pe-5"><a href="#">
                        <i class="far fa-chevron-right"></i></a></div>
                <div class="col-7 ps-4">
                    <p class="order-name mb-0">John Attala</p>
                    <p class="order-details">Lorem Ipsum </p>
                    <p class="order-details">Lorem Ipsum is simply dummy text</p>
                    <div class="d-flex mt-2">
                        <p class="date-price">$23</p>
                        <p class="date-price ms-2">14 oct, 8:41 PM</p>
                    </div>
                    <p class="pickup"><i class="fas fa-check-circle me-2"></i>PICKUP</p>

                </div>
                <div class="col-5 d-flex align-items-center">
                    <img class="rounded-circle " src="../../../../assets/images/Ellipse 52.png" alt="" width="50%">
                </div>
            </div>
            <div class="row border rounded-312 m-2 mt-4">
                <div class="d-flex justify-content-end mt-2 pe-5"><a href="#">
                        <i class="far fa-chevron-right"></i></a></div>
                <div class="col-7 ps-4">
                    <p class="order-name mb-0">John Attala</p>
                    <p class="order-details">Lorem Ipsum </p>
                    <p class="order-details">Lorem Ipsum is simply dummy text</p>
                    <div class="d-flex mt-2">
                        <p class="date-price">$23</p>
                        <p class="date-price ms-2">14 oct, 8:41 PM</p>
                    </div>
                    <p class="pickup"><i class="fas fa-check-circle me-2"></i>PICKUP</p>

                </div>
                <div class="col-5 d-flex align-items-center">
                    <img class="rounded-circle " src="../../../../assets/images/Ellipse 52.png" alt="" width="50%">
                </div>
            </div>
        </div>


    </div>
</div>