<footer>
    <div class="container-fluid bg-light12 mt-5 p-0">
        <div class="container px-8 mt-7 mb-4">
            <div class="row pt-6 ">
                <div class="col-md-4">
                    <img class="logo" src=" ../../../../assets/images/footer-logo2.png" alt="">
                    <p class="mt-5 footer-p fw-bold">Lorem Ipsum is simply dummy text</p>
                    <p class="footer-p fw-bold"> of the printing and typesetting industry. </p>
                    <div class="links  d-flex align-items-center ">
                        <a href=""><i class="fab fa-facebook mt-1  fs-1 facebook-link"></i></a>
                        <a href=""><i class="fab fa-instagram footer-link p-2 rounded-circle fs-4 ms-4"></i></a>
                        <a href=""><i class="fab fa-youtube footer-link p-2 rounded-circle fs-4 ms-4"></i></a>
                        <a href=""><i class="fab fa-twitter footer-link p-2 rounded-circle fs-4 ms-4"></i></a>
                    </div>
                </div>
                <div class="col-md-8 row">
                    <div class="col-4">
                        <p class="together-p text-center">Service</p>
                        <div>
                            <a href="">
                                <p class="footer-p12 text-center">Lorem Ipsum </p>
                            </a>
                            <a href="">
                                <p class="footer-p12 text-center">Lorem Ipsum </p>
                            </a>
                            <a href="">
                                <p class="footer-p12 text-center">Lorem Ipsum </p>
                            </a>
                            <a href="">
                                <p class="footer-p12 text-center">Lorem Ipsum </p>
                            </a>



                        </div>
                    </div>
                    <div class="col-4">
                        <p class="together-p text-center">Quick Links</p>
                        <div>
                            <a href="">
                                <p class="footer-p12 text-center">Lorem Ipsum </p>
                            </a>
                            <a href="">
                                <p class="footer-p12 text-center">Lorem Ipsum </p>
                            </a>
                            <a href="">
                                <p class="footer-p12 text-center">Lorem Ipsum </p>
                            </a>


                        </div>
                    </div>
                    <div class="col-4">
                        <p class="together-p text-center">Contact</p>
                        <div>
                            <a href="">
                                <p class="footer-p12 text-center">Lorem Ipsum </p>
                            </a>
                            <a href="">
                                <p class="footer-p12 text-center">Lorem Ipsum </p>
                            </a>
                            <a href="">
                                <p class="footer-p12 text-center">Lorem Ipsum </p>
                            </a>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-success1 text-center py-2">Lorem Ipsum is simply dummy text</div>


    </div>
</footer>
