<nav class="container">
    <img class="logo  mt-2" src="../../../assets/images/image 12.png" alt="">
</nav>

<div class="container">
    <div class="row mt-3">
        <div class="col-lg-7 order-lg-1 order-2 pe-lg-5">
            <div class="border">
                <p class="mt-5 pt-3 ps-5 Method">Payment Method</p>
                <div class="p-3 pe-5">
                    <div class="form-check bg-light py-3">

                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            <div class=" d-flex justify-content-between">
                                <div class="d-flex">
                                    <img class="img12" src="../../../assets/images/Group 895.png" alt="">
                                    <P class="mb-0 d-flex align-items-center ms-3 card-number">**********3431</P>
                                </div>

                            </div>
                        </label>

                        <i class="float-end me-5 payment-icon  fal fa-check"></i>
                    </div>
                    <div class="click-1">
                        <div class="form-check bg-transparent mt-2">
                            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault4">

                            <div class="d-flex justify-content-between align-items-center">
                                <p class="default mb-0 ">Set as your default payment method</p>
                                <a routerLink="/confirmationOrder" class="btn proceed-pay px-4">Proceed to pay</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-check bg-light py-3 mt-4">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            <div class=" d-flex">
                                <img class="img12" src="../../../assets/images/Group 895.png" alt="">
                                <P class="mb-0 d-flex align-items-center ms-3 card-number">**********3431</P>
                            </div>
                        </label>
                        <i class="float-end me-5 payment-icon  fal fa-check"></i>
                    </div>
                    <div>
                        <div class="form-check bg-transparent mt-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">

                            <div class="d-flex justify-content-between align-items-center">
                                <p class="default mb-0 ">Set as your default payment method</p>
                                <a routerLink="/confirmationOrder" class="btn proceed-pay px-4">Proceed to pay</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-check bg-light py-3 mt-4">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault3">
                            <div class=" d-flex">
                                <img class="img12" src="../../../assets/images/image 124.png" alt="">
                                <!-- <P class="mb-0 d-flex align-items-center ms-3 card-number">**********3431</P> -->
                            </div>
                        </label>
                        <i class="float-end me-5 payment-icon  fal fa-check"></i>
                    </div>
                    <div>
                        <div class="form-check bg-transparent mt-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">

                            <div class="d-flex justify-content-between align-items-center">
                                <p class="default mb-0 ">Set as your default payment method</p>
                                <a routerLink="/confirmationOrder" class="btn proceed-pay px-4">Proceed to pay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between p-3 pe-5">
                    <a class="mb-0 add-payment">+Add a Payment Method</a>
                    <i class="far fa-chevron-right"></i>
                </div>
                <form action="" class="p-3 pe-5">
                    <input class="card-details p-2" id="ccn" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}"
                        autocomplete="cc-number" maxlength="19" placeholder="Card Number">
                    <input class="card-details p-2 mt-4" id="ccn" type="text" maxlength="19"
                        placeholder="Name on Card">
                    <div class="d-flex justify-content-between">
                        <input class="card-date p-2 mt-4" id="ccn" type="datetime" inputmode="numeric"
                            pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="10"
                            placeholder="Vaild Thru (MM\YY)">
                        <input class="card-cvv p-2 mt-4" id="ccn" type="text" inputmode="numeric"
                            pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="3" placeholder="CVV">
                    </div>

                    <button class="btn proceed-pay12 mt-5 py-3 align-self-center">Add your card</button>


                </form>
            </div>

        </div>
        <div class="col-lg-5 order-lg-2 order-1 border-start ps-4">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <img class="img-1" src="../../../assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" alt="">
                    <p class="food-name ps-3">Lorem</p>
                </div>
                <p class="food-price">$32</p>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <div class="d-flex">
                    <img class="img-1" src="../../../assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" alt="">
                    <p class="food-name ps-3">Lorem</p>
                </div>
                <p class="food-price">$32</p>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <div class="d-flex">
                    <img class="img-1" src="../../../assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" alt="">
                    <p class="food-name ps-3">Lorem</p>
                </div>
                <p class="food-price">$32</p>
            </div>
            <div class="d-flex justify-content-between mt-5 pt-4">
                <p class="food-name">item Subtotal</p>
                <p class="food-price">$62</p>
            </div>
            <div class="d-flex justify-content-between">
                <p class="food-name">Eatdelish fee</p>
                <p class="food-price">$2</p>
            </div>
            <div class="d-flex justify-content-between">
                <p class="food-name">Tax</p>
                <p class="food-price">$5</p>
            </div>
            <div class="d-flex justify-content-between">
                <p class="food-name-total">Total</p>
                <p class="food-price-total">$69</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
