<!-- order page-->
<div class="container">
    <div class="section">
        <a>
            <h2><i class="fas fa-arrow-left pe-2"></i>Order History</h2>
        </a>
    </div>
    <section class="section1">

        <div class="search">
            <form>
                <i class="fas fa-search icon"></i>
                <input type="search" class="form-control" placeholder="Search by restaurant or dish">
            </form>
        </div>
        <div class="food_order container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="../../../assets/images/dish.png" alt="" class="img-fluid">
                        </div>
                        <div class="col-sm-4 mx-3 pt-3">
                            <h3>Pasta makers</h3>
                            <p><i class="fas fa-map-marker-alt pe-2"></i>New york</p>
                            <p>1x Mixed Pasta</p>
                            <button class="btn btn-sm reorder">
                                Reorder
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 delivered">
                    <button class="btn btn-lg">Delivered</button>
                    <p class="px-3 my-2">view menu</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <p><span class="pe-2">31.Jan .2022</span>at<span class="ps-2">9: 40 pm</span></p>
            </div>
        </div>
        <div class="food_order container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="../../../assets/images/dish.png" alt="" class="img-fluid">
                        </div>
                        <div class="col-sm-4 mx-3 pt-3">
                            <h3>Pasta makers</h3>
                            <p><i class="fas fa-map-marker-alt pe-2"></i>New york</p>
                            <p>1x Mixed Pasta</p>
                            <button class="btn btn-sm reorder">
                                Reorder
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 delivered">
                    <button class="btn btn-lg">Delivered</button>
                    <p class="px-3 my-2">view menu</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <p><span class="pe-2">31.Jan .2022</span>at<span class="ps-2">9: 40 pm</span></p>
            </div>
        </div>
    </section>
</div>