<div class="container ">
    <nav class="navbar navbar-default">
        <a class="navbar-brand d-flex align-items-end" > <img class="img-width"
                src="../../../assets/images/image 12.png">
        </a>
        <div>
            <!-- <div class="dropdown">
                <button class="btn btn-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fas fa-user fs-3 default-icon"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><button type="button" class="btn btn btn-light dropdown-item"
                            (click)="userLogout()">Logout</button></li>

                </ul>
            </div> -->
        </div>
    </nav>
    <div class="row">
        <div class="col-8 ">
            <h1 class="txt-size">Lorem Ipsum is simply <span class="fon-col">dummy</span><br>
                <span class="fon-col"> text </span> of the printing and<br>
                typesetting industry.
            </h1>
        </div>
        <div class="col-4 ml-5">
            <img src="../../../assets/images/Group 1117.png" class="imag">
        </div>
    </div>
    <div class="row">
        <div class=" col-6">
            <div class=" border-size d-flex align-self-center justify-content-center ">
                <button class="btn get-button" type="button" routerLink="/registration">Get Started</button>
            </div>
        </div>
        <div class="col-6">
            <img src="../../../assets/images/Group 1118.png" class="img-2">
        </div>
    </div>

    <h5 class="text-center t-size">
        Join the 22,00+ businesses already on Eat Delish
    </h5>
    <div class=" d-flex justify-content-between mt-5 text-center">
        <div><img src="../../../assets/images/Group 748.svg" class="img-width"></div>
        <div><img src="../../../assets/images/Group 748.svg" class="img-width"></div>
        <div><img src="../../../assets/images/Group 748.svg" class="img-width"></div>
        <div><img src="../../../assets/images/Group 748.svg" class="img-width"></div>

    </div>


    <div class=" bord mt-5 row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div>
                <h6 class="lorum-1">Lorem Ipsum is simply dummy text</h6><br>
                <p class="col60">Lorem Ipsum is simply dummy text of the printing </p><br>
                <button class="btn b-color">Lorem Ipsum</button>

            </div>

        </div>
        <div class="col-md-6">
            <img src="../../../assets/images/Rectangle 309.svg" class="mob-image">
            <img src="../../../assets/images/Group 1120.svg" class="mob-image2">
        </div>
    </div>
</div>



<div class="container-fluid backg-color">
    <div class="container">
        <div class="  mt-5 row text-center">
            <h2 class="text-center lorum-3 mt-3 mb-5">How it works?</h2>
            <div class="col-md-4 px-5 devide">
                <div class="bg-light mx-4 px-2">
                    <img src="../../../assets/images/image 76.svg" class="img-11 mt-5">
                    <h5 class="mt-4 step11">Step 1</h5>
                    <h5 class="step11">Lorem Ipsum</h5>
                    <p class="para-text mb-5">In publishing and graphic design, <br>
                        Lorem ipsum is a placeholder text<br>
                        commonly used to demonstrate</p>

                </div>
            </div>
            <div class="col-md-4 px-5 devide">
                <div class="bg-light mx-4 px-2">
                    <img src="../../../assets/images/image 76.svg" class="img-11 mt-5">
                    <h5 class="mt-4 step11">Step 2</h5>
                    <h5 class="step11">Lorem Ipsum</h5>
                    <p class="para-text ">In publishing and graphic design, <br>
                        Lorem ipsum is a placeholder text<br>
                        commonly used to demonstrate</p>
                </div>
            </div>
            <div class="col-md-4 px-5 devide">
                <div class="bg-light mx-4 px-2">
                    <img src="../../../assets/images/image 76.svg" class="img-11 mt-5">
                    <h5 class="mt-4 step11">Step 3</h5>
                    <h5 class="step11">Lorem Ipsum</h5>
                    <p class="para-text">In publishing and graphic design, <br>
                        Lorem ipsum is a placeholder text<br>
                        commonly used to demonstrate</p>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-5 mt-5">
            <img src="../../../assets/images/111.png" class="img-22">
        </div>
        <div class="col-md-7 mt-5">
            <h2 class="para33"> Lorem Ipsum is simply dummy<br>
                text of the printing </h2>
            <p class="para44">Lorem Ipsum is simply dummy text of the printing<br>
                Lorem Ipsum is simply dummy text of the printing
            </p>
            <button type="button" class="btn lorum-btn">Lorum Ipsum</button>
        </div>
    </div>
</div>
<app-footer></app-footer>