<nav>
    <div class="container pt-2  p-0 bg-body">
        <div class="row">
            <div class="col-8 ">
                <div class="d-flex logos12 ps-4">
                    <img class="logo-width" routerLink="" src="../../../assets/images/image 12.png" alt="">
                    
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex justify-content-end">
                    <div>
                        <div class="dropdown float-end me-4">
                            <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img src="../../../assets/images/111.png" alt="" class="profile-img1 ">
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" routerLink="/profile"><i class="fas fa-user me-2"></i>Profile</a>
                                </li>
                                <li><a class="dropdown-item" routerLink="/dashboard"><i class="fal fa-tv me-2"></i>Dashboard</a>
                                </li>
                                <li><a class="dropdown-item" routerLink="/chat"><i
                                            class="fas fa-envelope-open-text me-2"></i>Message</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fal fa-sign-out me-2"></i>Logout</a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </div>
</nav>
