<div class="col-12 bg-secondary12 pt-5 ps-5 pe-5 ">
    <div class="bg-body p-4 ps-5 paymentS12">
        <div class="col-12">
            <table class="table">
                <thead class="border1213">
                    <tr>
                        <th scope="col"><i class="far fa-rectangle-landscape "></i></th>
                        <th scope="col">Transaction ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Name</th>
                        <th scope="col">Food name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1126.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text green">$10</td>
                        <td class="table-text">COMPLETED</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1127.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text red">$6</td>
                        <td class="table-text panding">PENDING</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1127.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text red">$10</td>
                        <td class="table-text cancled">CANCELED</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1126.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text green">$10</td>
                        <td class="table-text">COMPLETED</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1127.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text red">$6</td>
                        <td class="table-text panding">PENDING</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1127.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text red">$10</td>
                        <td class="table-text cancled">CANCELED</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1126.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text green">$10</td>
                        <td class="table-text">COMPLETED</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1127.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text red">$6</td>
                        <td class="table-text panding">PENDING</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1127.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text red">$10</td>
                        <td class="table-text cancled">CANCELED</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1126.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text green">$10</td>
                        <td class="table-text">COMPLETED</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1127.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text red">$6</td>
                        <td class="table-text panding">PENDING</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1127.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text red">$10</td>
                        <td class="table-text cancled">CANCELED</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1126.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text green">$10</td>
                        <td class="table-text">COMPLETED</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1127.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text red">$6</td>
                        <td class="table-text panding">PENDING</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1127.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text red">$10</td>
                        <td class="table-text cancled">CANCELED</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1126.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text green">$10</td>
                        <td class="table-text">COMPLETED</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1127.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text red">$6</td>
                        <td class="table-text panding">PENDING</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1127.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text red">$10</td>
                        <td class="table-text cancled">CANCELED</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1126.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text green">$10</td>
                        <td class="table-text">COMPLETED</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1127.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text red">$6</td>
                        <td class="table-text panding">PENDING</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="row border12">
                            <img class="trans-img" src="../../../../assets/images/Group 1127.png" alt="">
                        </th>
                        <td class="table-text">#563454346674</td>
                        <td class="table-text">2sept.2021</td>
                        <td class="table-text">
                            <div class="d-flex">
                                <img class="buyer-img" src="../../../../assets/images/Ellipse 91.png" alt="">
                                &nbsp; Raelynn
                            </div>
                        </td>
                        <td class="table-text">Roast chicken</td>
                        <td class="table-text red">$10</td>
                        <td class="table-text cancled">CANCELED</td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>
