<nav class="container">
    <img class="ps-5 mt-4 logo" src="../../../assets/images/image 12.png" alt="">
</nav>

<div class="container p-0 ">
    <div class="row ">
        <div class="col-5 ps-5 mt-4">
            <div class="ps-3">
                <div>
                    <p class="p-name mb-0">Thank you, buyer name !</p>
                    <p class="p-shadow-22 ">Your order has been confirmed.</p>
                </div>
                <div class="">
                    <p class="p-600 mb-0">Contact</p>
                    <p class="p-shadow-24"><i class="far fa-user Chefs"></i> Seller name</p>
                    <p class="p-shadow-24"><i class="far fa-phone-alt Chefs"></i> +7656465855</p>
                </div>
                <div class="mt-5">
                    <div class="">
                        <img src="../../../assets/images/map.png" alt="" width="100%">

                    </div>
                    <div class="mt-5">
                        <p class="p-22 mb-0">Pickup address</p>
                        <p class="p-shadow">Mesa, AZ 85205, USA</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-7 bg-light12 pt-4 ps-5">
            <h3 class="item">Item</h3>
            <div class="row mt-5">
                <div class=" col-3 img-width pe-0">
                    <img src="../../../assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" alt="">
                </div>
                <div class="d-flex col-9 justify-content-between">
                    <p class="p-500">Lorem ipsum</p>
                    <p class="p-price me-5 pe-2">$0</p>
                </div>

            </div>
            <div class="row mt-5">
                <div class=" col-3 img-width pe-0">

                    <img src="../../../assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" alt="">
                </div>
                <div class="d-flex col-9 justify-content-between">
                    <p class="p-500">Lorem ipsum</p>
                    <p class="p-price me-5 pe-2">$0</p>
                </div>

            </div>

            <div class="mt-5">
                <div class=" d-flex justify-content-between pt-3">
                    <p class="p-shadow mb-0">item Subtotal</p>
                    <p class="p-shadow me-5 pe-2">$32</p>
                </div>
                <div class=" d-flex justify-content-between">
                    <p class="p-shadow mb-0">Tax</p>
                    <p class="p-shadow me-5 pe-2">$5</p>
                </div>
                <div class=" d-flex justify-content-between mb-5 pb-3">
                    <p class="p-500">Total</p>
                    <p class="p-500 me-5 pe-2">$00</p>
                </div>
            </div>
        </div>
    </div>
    <p class="continue-bro text-end mt-5 " routerLink="">Continue browser<i
            class="far fa-arrow-right ms-2"></i></p>

</div>

<app-footer></app-footer>
