<div class="container p-0">
    <a class="navbar-brand  me-0" routerLink="" > <img class="logo-width" src="../../../assets/images/image 12.png"></a>
    <div class="container border mt-3">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="d-flex flex-column align-items-center">
                <a class="text-decoration-none" routerLink="/profile"> <i
                        class="fas fa-arrow-left back-size"></i>
                </a>
            </div>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav w-100 justify-content-between">
                    <form class="d-flex justify-content-between  serh">
                        <input class="border-0 form-search w-75" type="text" placeholder="Search" aria-label="">
                        <i class="fas fa-search srch"></i>
                    </form>
                    <li class="nav-item">
                        <p class="para-1">
                            Message
                        </p>
                    </li>
                    <i class="fas fa-ellipsis-v colr "></i>
                </ul>
            </div>
        </nav>
    </div>
   </div>





    <div class="container">
        <div class="row">
            <div class="col-lg-5 border">
                <div class="row colr-1 p-2">
                    <div class="col-6 d-flex align-items-center ">
                        <img src="../../../assets/images/Ellipse 164.png" class="img-1"><br>
                        <div class="ml-5">
                            <h5 class="txt-1 mt-4">Joyce</h5>
                            <p>Helloo!!!!</p>
                        </div>
                    </div>

                    <div class="col-6 d-flex align-items-center justify-content-end">
                        <p>Today at 9:00pm</p>
                    </div>
                </div>

                <div class="row p-2">
                    <div class="col-6 d-flex align-items-center ">
                        <img src="../../../assets/images/Ellipse 164.png" class="img-1"><br>
                        <div>
                            <h5 class="txt-1 mt-4">Joyce</h5>
                            <p>Helloo!!!!</p>
                        </div>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-end">
                        <p>Today at 9:00pm</p>
                    </div>
                </div>

                <div class="row p-2">
                    <div class="col-6 d-flex align-items-center ">
                        <img src="../../../assets/images/Ellipse 164.png" class="img-1"><br>
                        <div>
                            <h5 class="txt-1 mt-4">Joyce</h5>
                            <p>Helloo!!!!</p>
                        </div>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-end">
                        <p>Today at 9:00pm</p>
                    </div>

                </div>
                <div class="row p-2">
                    <div class="col-6 d-flex align-items-center ">
                        <img src="../../../assets/images/Ellipse 164.png" class="img-1"><br>
                        <div>
                            <h5 class="txt-1 mt-4">Joyce</h5>
                            <p>Helloo!!!!</p>
                        </div>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-end">
                        <p>Today at 9:00pm</p>
                    </div>

                </div>
                <div class="row p-2">
                    <div class="col-6 d-flex align-items-center ">
                        <img src="../../../assets/images/Ellipse 164.png" class="img-1"><br>
                        <div>
                            <h5 class="txt-1 mt-4">Joyce</h5>
                            <p>Helloo!!!!</p>
                        </div>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-end">
                        <p>Today at 9:00pm</p>
                    </div>

                </div>
                <div class="row p-2">
                    <div class="col-6 d-flex align-items-center ">
                        <img src="../../../assets/images/Ellipse 164.png" class="img-1"><br>
                        <div>
                            <h5 class="txt-1 mt-4">Joyce</h5>
                            <p>Helloo!!!!</p>
                        </div>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-end">
                        <p>Today at 9:00pm</p>
                    </div>

                </div>
                <div class="row p-2">
                    <div class="col-6 d-flex align-items-center ">
                        <img src="../../../assets/images/Ellipse 164.png" class="img-1"><br>
                        <div>
                            <h5 class="txt-1 mt-4">Joyce</h5>
                            <p>Helloo!!!!</p>
                        </div>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-end">
                        <p>Today at 9:00pm</p>
                    </div>

                </div>
                <div class="row p-2">
                    <div class="col-6 d-flex align-items-center ">
                        <img src="../../../assets/images/Ellipse 164.png" class="img-1"><br>
                        <div>
                            <h5 class="txt-1 mt-4">Joyce</h5>
                            <p>Helloo!!!!</p>
                        </div>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-end">
                        <p>Today at 9:00pm</p>
                    </div>

                </div>
                <div class="row p-2">
                    <div class="col-6 d-flex align-items-center ">
                        <img src="../../../assets/images/Ellipse 164.png" class="img-1"><br>
                        <div>
                            <h5 class="txt-1 mt-4">Joyce</h5>
                            <p>Helloo!!!!</p>
                        </div>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-end">
                        <p>Today at 9:00pm</p>
                    </div>

                </div>
                <div class="row p-2">
                    <div class="col-6 d-flex align-items-center ">
                        <img src="../../../assets/images/Ellipse 164.png" class="img-1"><br>
                        <div>
                            <h5 class="txt-1 mt-4">Joyce</h5>
                            <p>Helloo!!!!</p>
                        </div>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-end">
                        <p>Today at 9:00pm</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="d-flex">
                    <div><img src="../../../assets/images/Ellipse 164.png" class="img-11 mt-4"></div>
                    <div>
                        <p class="border bord-rad mt-4 p-3">Lorem Ipsum is simply dummy text of the<br> printing and
                            typesetting
                            industry.</p>
                    </div>
                    <p class="d-flex align-items-end time"> &nbsp; 9:00pm</p>

                </div>


                <div class="d-flex justify-content-end">
                    <p class=" time d-flex align-items-end"> 9:12pm &nbsp;</p>
                    <div>
                        <p class="border bord-rad1 mt-4 p-3">Lorem Ipsum is simply dummy text.</p>

                        <p class="border bord-rad1 mt-4 p-3">Lorem Ipsum is simply dummy text.</p>

                    </div>
                    <div class="d-flex align-items-end"><img src="../../../assets/images/image 72.png " class=" mt-4 img-11"></div>

                </div>

                <div class="d-flex">
                    <div><img src="../../../assets/images/Ellipse 164.png" class="img-11 mt-4"></div>
                    <div>
                        <p class="border bord-rad mt-4 p-3">Lorem Ipsum is simply dummy text of the<br> printing and
                            typesetting
                            industry.</p>
                    </div>
                    <p class="d-flex align-items-end time"> &nbsp; 9:12pm</p>

                </div>

                <div class="d-flex justify-content-end">
                    <p class=" time d-flex align-items-end"> 9:12pm &nbsp;</p>
                    <div>
                        <p class="border bord-rad1 mt-4 p-3">Lorem Ipsum is simply dummy text.</p>
                    </div>
                    <div><img src="../../../assets/images/image 72.png" class="img-11 mt-4"></div>

                </div>


                <div class="d-flex">
                    <div><img src="../../../assets/images/Ellipse 164.png" class="img-11 mt-4"></div>
                    <div>
                        <p class="border bord-rad mt-4 p-3">Lorem Ipsum is simply dummy text of the<br> printing and
                            typesetting
                            industry.</p>
                    </div>
                    <p class="d-flex align-items-end time"> &nbsp; 9:12pm</p>

                </div>

                <div class="d-flex justify-content-end">
                    <p class=" time d-flex align-items-end"> 9:12pm &nbsp;</p>
                    <div>
                        <p class="border bord-rad1 mt-4 p-3">Lorem Ipsum is simply dummy text.</p>
                    </div>
                    <div><img src="../../../assets/images/image 72.png" class="img-11 mt-4"></div>

                </div>

                <div class="d-flex">
                    <div><img src="../../../assets/images/Ellipse 164.png" class="img-11 mt-4"></div>
                    <div>
                        <p class="border bord-rad mt-4 p-3">Lorem Ipsum is simply dummy text of the<br> printing and
                            typesetting
                            industry.</p>
                    </div>
                    <p class="d-flex align-items-end time"> &nbsp; 9:12pm</p>

                </div>

                <div class="d-flex justify-content-end">
                    <p class=" time d-flex align-items-end"> 9:12pm &nbsp;</p>
                    <div>
                        <p class="border bord-rad1 mt-4 p-3">Lorem Ipsum is simply dummy text.</p>
                    </div>
                    <div><img src="../../../assets/images/image 72.png" class="img-11 mt-4"></div>

                </div>

                <div class="d-flex">
                    <div><img src="../../../assets/images/Ellipse 164.png" class="img-11 mt-4"></div>
                    <div>
                        <p class="border bord-rad mt-4 p-3">Lorem Ipsum is simply dummy text of the<br> printing and
                            typesetting
                            industry.</p>
                    </div>
                    <p class="d-flex align-items-end time"> &nbsp; 9:12pm</p>

                </div>

                <div class=" footr d-flex justify-content-between  mt-5 px-3 py-2">
                    <button type="button" class="plus-button"><i class="fas fa-plus fa-size"></i></button>
                    <div class="form-group">
                        <input type="text" class="form-control chat-msg" id="" placeholder="chat message">
                    </div>
                    <button type="button" class="btn send-btn">Send</button>
                </div>

            </div>

        </div>
    </div>


