body {
    overflow-x: hidden;
    
}

html {
    font-size: 90%;
}

h1, h2, h3, h4, h5, h6 button, a, p, label {
    font-family: 'Montserrat'!important;
    font-style: normal;
}

.logo-name {
    font-family: cambria !important;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    color: #023047;
}

.gold {
    color: gold;
}

.profile-img1 {
    width: 110%;
    border-radius: 50%;
}

.dropdown.float-end {
    width: 8%;
    color: white;
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.dropdown-menu {
    border: none !important;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.dropdown-item:hover {
    background-color: #edcc4a  !important;
    border-radius: 6px;
    color: white !important;
}

.img1 {
    width: 100%;
}

.profile-pic {
    width: 60%;
    margin-top: -44%;
}

.profile-h3 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 39px;
    color: #000000;
}

.profile-p {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 29px;
}

.profile-a {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    color: #000000;
    text-decoration: none;
}

.profile-a:hover {
    color: #000000;
}

.post-number {
    font-weight: 600;
    font-size: 1.3rem;
    color: #000000;
}

.post-text {
    font-weight: 600;
    font-size: 1rem;
    color: #979797;
}

.btn12 {
    margin-top: 4rem;
    font-weight: 500 !important;
    font-size: 1.5rem !important;
    color: #FFFFFF !important;
    background: #023047 !important;
    border-radius: 8px !important;
    padding: 0rem 5rem 0rem 5rem !important;
}
.btn12:hover{
    color: #023047 !important;
    border: 1px solid black;
    background: white !important;

}

.food {
    cursor: pointer;
    font-weight: 500;
    font-size: 1.5rem;
    color: #000000;
}

.food12 {
    cursor: pointer;
    font-weight: normal;
    font-size: 1.5rem;
    color: #595959;
    margin-left: 11rem;
}

.veiw-more {
    font-weight: normal;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    color: #727272;
}

.veiw-more:hover {
    color: #727272 !important;

}

.reviewImg {
    width: 200px;
    height: 130px;
    border-radius: 8px;
}

.review12 {
    font-weight: 500;
    font-size: 1.5rem;
    color: #616161;
}

.review-name {
    font-weight: 500;
    font-size: 2.1rem;
    color: #000000;

}

.review-date {
    font-weight: 500;
    font-size: 0.9rem;
    color: #959595;
}

/* //////////////////card///////////////////// */
.card-rating {
    border-radius: 2px;
    background-color: rgba(84, 177, 45, 1);
    color: white;
}

.card {
    width: 81% !important;
}

.card img {
    border-radius: 8px;
    width: 100%;
}

.fa-star {
    color: white;
    font-size: 0.8rem;
}

.card-h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.card-rating {
    font-size: 0.7rem;
}

.card-p {
    font-size: 1rem;
    font-weight: normal;
    color: #555555;
    line-height: 2rem;
}

.card-price {
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 600;
    color: #595959;
}

.pt-7 {
    padding-top: 6rem !important;
}

/* /////////////////////////// card///////////////////// */

/* ////////////////////////// gallery css/////////////////////////// */
:root {
    --dark: #373349;
    --shadow: rgba(0, 0, 0, .2);
}

.container12>a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.container12> a> img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 2px 16px var(--shadow);
}

.container12 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-auto-rows: 120px;
    grid-auto-flow: dense;
}

.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

/* ////////////////////////// gallery css/////////////////////////// */

@media screen and (max-width:1200px) {
    .dropdown.float-end {
        width: 21%;
        color: white;
    }
}

@media screen and (max-width:1000px) {
    p.review-date.mt-4 {
        float: right;
    }

    .dropdown.float-end {
        width: 29%;
        color: white;
    }

    .profile-h3 {
        font-size: 1.8rem;
    }

    .profile-p {
        font-size: 1.3rem;
    }

    .post-number {
        font-size: 1.2rem;
    }

    .post-text {
        font-size: 0.9rem;
    }

    .food {
        font-size: 1.4rem;
    }

    .food12 {
        font-size: 1.4rem;
    }

    .review12 {
        font-size: 1rem;
    }

    .review-name {
        font-size: 1.6rem;
    }

    .logo-name {
        font-size: 22px;
    }

}

@media screen and (max-width:768px) {
    .dropdown.float-end {
        width: 39%;
        color: white;
    }

    img.float-end.rounded-circle {
        float: left !important;
    }
}

@media screen and (max-width:570px) {

    .col-md-8.ps-0.addres {
        padding-left: 1rem !important;
    }

    p.review-name.mb-2.text-center {
        text-align: left !important;
    }

    .d-flex.justify-content-center.stars12 {
        justify-content: start !important;
    }

    .food {
        margin-left: 0rem !important;
    }

    .btn12 {
        margin-top: 4rem;
        font-weight: 500;
        font-size: 1.2rem;
        color: #FFFFFF;
        background: #023047;
        border-radius: 8px;
        padding: 0rem 3rem 0rem 3rem;
    }
    .d-flex.justify-content-end.buttons123 {
        justify-content: start !important;
    }

    .food12 {
        cursor: pointer;
        font-weight: normal;
        font-size: 1.5rem;
        color: #595959;
        margin-left: auto;
        justify-content: space-between;
    }

    .d-flex.logos12 {
        padding-left: 1rem;
    }
}

@media screen and (max-width:470px) {
    .dropdown.float-end {
        width: 46%;
        color: white;
    }

    .profile-h3 {
        font-size: 1.4rem;
    }

    .profile-p {
        font-size: 0.9rem;
        line-height: 18px;
    }

    .reviewImg {
        width: 47%;
    }

    .about-textarea {
        font-size: 0.7rem;
    }

    .post-number {
        font-size: 0.8rem;
    }

    .post-text {
        font-size: 0.6rem;
    }

    .food {
        font-size: 1rem;
    }

    .food12 {
        font-size: 1rem;
    }

    .review12 {
        font-size: 0.7rem;
    }

    .review-name {
        font-size: 1.2rem;
    }

    .logo-name {
        font-size: 16px;
        line-height: 15px;
    }

    img.logo-width {
        width: 15%;
    }

    .veiw-more {
        font-size: 0.8rem;
        margin-top: 2rem;
    }
}

@media screen and (max-width:380px) {
    .dropdown.float-end {
        width: 50%;
        color: white;
    }
    .btn12 {
        margin-top: 4rem;
        font-weight: 500;
        font-size: 1rem;
        color: #FFFFFF;
        background: #023047;
        border-radius: 8px;
        padding: 0rem 1.8rem 0rem 1.8rem;
    }
}