<div class="container">
    <div class="row">
        <div class="col-12 p-0 ">
            <img class="img1" src="../../../assets/images/image 45.jpg" alt="">
            <!-- <img [src]="coverImage" alt=""> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 ps-sm-5 ps-2">
            <!-- <img class="profile-pic rounded-circle" src="../../../assets/images/Rectangle 219.png" alt=""> -->
            <h3 class="profile-h3 mt-5">{{kitchenInfo.firstName}} {{kitchenInfo.lastName}}</h3>
            <p class="profile-p mt-3 mb-0">{{kitchenInfo.kitchenName}}<br>
                {{kitchenInfo.houseNumber}} <br>
                {{kitchenInfo.kitchenArea}}, near {{kitchenInfo.landMark}}, <br>
                {{kitchenInfo.townCity}}, {{kitchenInfo.countryState}}, <br>
                United States</p>
            <a class="profile-a" href="">About more</a>
        </div>
        <div class="col-md-8 mt-5">
            <div class="row justify-content-end">
                <div class="col-3">
                    <div *ngIf="kitchenInfo.verified">
                        <div class="d-flex justify-content-center">
                            <img src="../../../assets/images/verified.png" alt="" width="15%">
                        </div>
                        <p class="post-text text-center text-uppercase mt-1">Verified Kitchen</p>
                    </div>
                </div>
                <!-- <div class="col-3">
                    <p class="post-number  text-center">17</p>
                    <p class="post-text text-center">POSTS</p>
                </div> -->
                <div class="col-3">
                    <p class="post-number  text-center">{{kitchenInfo.following}}</p>
                    <p class="post-text text-center">FOLLOWING</p>
                </div>
                <div class="col-3">
                    <p class="post-number  text-center">{{kitchenInfo.followers}}</p>
                    <p class="post-text text-center">FOLLOWERS</p>
                </div>
            </div>
            <div class="d-flex justify-content-end buttons123">
                <button class="btn btn12 me-4">Follow</button>
                <button class="btn btn12">Message</button>
            </div>
        </div>
    </div>
    <div class="d-flex border-bottom mt-4">
        <p class="food ms-4 ps-2 mb-0 " (click)="foodShow()">Food</p>
        <p class="food12  mb-0 " (click)="ratingReview()">Rating & Review</p>
    </div>
    <div class="d-flex justify-content-end mt-2">
        <a class="veiw-more" (click)="viewMore()">veiw more</a>
    </div>
</div>
<!-- ///////////////////////////////////////////// gallery/////////////////////// -->

<div class="gallery">

    <div class="container container12 mt-sm-5 mb-5" *ngFor="let photo of photoDisplay">
        <a>
            <img class="img-thumbnail" src={{photo}} />
        </a>

        <!-- <a href="" data-lightbox="homePortfolio" class="vertical">
            <img src="../../../assets/images/Rectangle 226.png" />
        </a>

        <a href="" data-lightbox="homePortfolio" class="horizontal">
            <img src="../../../assets/images/Rectangle 227.png" />
        </a>

        <a href="" data-lightbox="homePortfolio">
            <img src="../../../assets/images/Rectangle 228 (1).png" />
        </a>

        <a href="" data-lightbox="homePortfolio">
            <img src="../../../assets/images/Rectangle 229.png" />
        </a>

        <a href="" data-lightbox="homePortfolio" class="big">
            <img src="../../../assets/images/Rectangle 230.png" />
        </a>

        <a href="" data-lightbox="homePortfolio">
            <img src="../../../assets/images/Rectangle 231 (1).png" />
        </a>

        <a href="" data-lightbox="homePortfolio" class="vertical">
            <img src="../../../assets/images/Rectangle 467.png" />
        </a>

        <a href="" data-lightbox="homePortfolio" class="vertical">
            <img src="../../../assets/images/Rectangle 468.png" />
        </a>
        <a href="" data-lightbox="homePortfolio" class="big">
            <img src="../../../assets/images/Rectangle 223.png" />
        </a> -->

    </div>
</div>
<!-- ///////////////////////////////////////////// gallery end/////////////////////// -->
<div class="gallery112">
    <div class="container ">
        <div class="row pt-5">
            <div class="col-lg-6 row ">
                <div class="col-sm-6 p-0 d-flex justify-content-center">
                    <div class="card border-0">
                        <img src=" ../../../assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body p-0 mt-3">
                            <div class="d-flex justify-content-between">
                                <h4 class="card-h4 align-self-center mb-0">Lorem ipsum</h4>
                                <div class="d-flex card-rating px-2  align-items-center">
                                    <i class="fas fa-star"></i>
                                    <p class="m-0 ps-2 card-rating">4.2</p>
                                </div>
                            </div>
                            <div class="d-flex mt-2 justify-content-between">
                                <p class="card-p">Mesa, AZ 85205, USA</p>
                                <p class="card-price pe-3">$12</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6 p-0  d-flex justify-content-center ">
                    <div class="card border-0 d-flex justify-content-center">
                        <img src="../../../assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body p-0 mt-3">
                            <div class="d-flex justify-content-between">
                                <h4 class="card-h4 align-self-center mb-0">Lorem ipsum</h4>
                                <div class="d-flex card-rating px-2  align-items-center">
                                    <i class="fas fa-star"></i>
                                    <p class="m-0 ps-2 card-rating">4.2</p>
                                </div>
                            </div>
                            <div class="d-flex mt-2 justify-content-between">
                                <p class="card-p">Mesa, AZ 85205, USA</p>
                                <p class="card-price pe-3">$12</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 row ">
                <div class="col-sm-6 p-0 d-flex justify-content-center">
                    <div class="card border-0">
                        <img src=" ../../../assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body p-0 mt-3">
                            <div class="d-flex justify-content-between">
                                <h4 class="card-h4 align-self-center mb-0">Lorem ipsum</h4>
                                <div class="d-flex card-rating px-2  align-items-center">
                                    <i class="fas fa-star"></i>
                                    <p class="m-0 ps-2 card-rating">4.2</p>
                                </div>
                            </div>
                            <div class="d-flex mt-2 justify-content-between">
                                <p class="card-p">Mesa, AZ 85205, USA</p>
                                <p class="card-price pe-3">$12</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 p-0 d-flex justify-content-center">
                    <div class="card border-0">
                        <img src="../../../assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body p-0 mt-3">
                            <div class="d-flex justify-content-between">
                                <h4 class="card-h4 align-self-center mb-0">Lorem ipsum</h4>
                                <div class="d-flex card-rating px-2  align-items-center">
                                    <i class="fas fa-star"></i>
                                    <p class="m-0 ps-2 card-rating">4.2</p>
                                </div>
                            </div>
                            <div class="d-flex mt-2 justify-content-between">
                                <p class="card-p">Mesa, AZ 85205, USA</p>
                                <p class="card-price pe-3">$12</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-7">
            <div class="col-lg-6 row ">
                <div class="col-sm-6 p-0 d-flex justify-content-center">
                    <div class="card border-0">
                        <img src=" ../../../assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body p-0 mt-3">
                            <div class="d-flex justify-content-between">
                                <h4 class="card-h4 align-self-center mb-0">Lorem ipsum</h4>
                                <div class="d-flex card-rating px-2  align-items-center">
                                    <i class="fas fa-star"></i>
                                    <p class="m-0 ps-2 card-rating">4.2</p>
                                </div>
                            </div>
                            <div class="d-flex mt-2 justify-content-between">
                                <p class="card-p">Mesa, AZ 85205, USA</p>
                                <p class="card-price pe-3">$12</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 p-0  d-flex justify-content-center ">
                    <div class="card border-0 d-flex justify-content-center">
                        <img src="../../../assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body p-0 mt-3">
                            <div class="d-flex justify-content-between">
                                <h4 class="card-h4 align-self-center mb-0">Lorem ipsum</h4>
                                <div class="d-flex card-rating px-2  align-items-center">
                                    <i class="fas fa-star"></i>
                                    <p class="m-0 ps-2 card-rating">4.2</p>
                                </div>
                            </div>
                            <div class="d-flex mt-2 justify-content-between">
                                <p class="card-p">Mesa, AZ 85205, USA</p>
                                <p class="card-price pe-3">$12</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 row ">
                <div class="col-sm-6 p-0 d-flex justify-content-center">
                    <div class="card border-0">
                        <img src=" ../../../assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body p-0 mt-3">
                            <div class="d-flex justify-content-between">
                                <h4 class="card-h4 align-self-center mb-0">Lorem ipsum</h4>
                                <div class="d-flex card-rating px-2  align-items-center">
                                    <i class="fas fa-star"></i>
                                    <p class="m-0 ps-2 card-rating">4.2</p>
                                </div>
                            </div>
                            <div class="d-flex mt-2 justify-content-between">
                                <p class="card-p">Mesa, AZ 85205, USA</p>
                                <p class="card-price pe-3">$12</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 p-0 d-flex justify-content-center">
                    <div class="card border-0">
                        <img src="../../../assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body p-0 mt-3">
                            <div class="d-flex justify-content-between">
                                <h4 class="card-h4 align-self-center mb-0">Lorem ipsum</h4>
                                <div class="d-flex card-rating px-2  align-items-center">
                                    <i class="fas fa-star"></i>
                                    <p class="m-0 ps-2 card-rating">4.2</p>
                                </div>
                            </div>
                            <div class="d-flex mt-2 justify-content-between">
                                <p class="card-p">Mesa, AZ 85205, USA</p>
                                <p class="card-price pe-3">$12</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-7">
            <div class="col-lg-6 row ">
                <div class="col-sm-6 p-0 d-flex justify-content-center">
                    <div class="card border-0">
                        <img src=" ../../../assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body p-0 mt-3">
                            <div class="d-flex justify-content-between">
                                <h4 class="card-h4 align-self-center mb-0">Lorem ipsum</h4>
                                <div class="d-flex card-rating px-2  align-items-center">
                                    <i class="fas fa-star"></i>
                                    <p class="m-0 ps-2 card-rating">4.2</p>
                                </div>
                            </div>
                            <div class="d-flex mt-2 justify-content-between">
                                <p class="card-p">Mesa, AZ 85205, USA</p>
                                <p class="card-price pe-3">$12</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 p-0  d-flex justify-content-center ">
                    <div class="card border-0 d-flex justify-content-center">
                        <img src="../../../assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body p-0 mt-3">
                            <div class="d-flex justify-content-between">
                                <h4 class="card-h4 align-self-center mb-0">Lorem ipsum</h4>
                                <div class="d-flex card-rating px-2  align-items-center">
                                    <i class="fas fa-star"></i>
                                    <p class="m-0 ps-2 card-rating">4.2</p>
                                </div>
                            </div>
                            <div class="d-flex mt-2 justify-content-between">
                                <p class="card-p">Mesa, AZ 85205, USA</p>
                                <p class="card-price pe-3">$12</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 row ">
                <div class="col-sm-6 p-0 d-flex justify-content-center">
                    <div class="card border-0">
                        <img src=" ../../../assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body p-0 mt-3">
                            <div class="d-flex justify-content-between">
                                <h4 class="card-h4 align-self-center mb-0">Lorem ipsum</h4>
                                <div class="d-flex card-rating px-2  align-items-center">
                                    <i class="fas fa-star"></i>
                                    <p class="m-0 ps-2 card-rating">4.2</p>
                                </div>
                            </div>
                            <div class="d-flex mt-2 justify-content-between">
                                <p class="card-p">Mesa, AZ 85205, USA</p>
                                <p class="card-price pe-3">$12</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 p-0 d-flex justify-content-center">
                    <div class="card border-0">
                        <img src="../../../assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body p-0 mt-3">
                            <div class="d-flex justify-content-between">
                                <h4 class="card-h4 align-self-center mb-0">Lorem ipsum</h4>
                                <div class="d-flex card-rating px-2  align-items-center">
                                    <i class="fas fa-star"></i>
                                    <p class="m-0 ps-2 card-rating">4.2</p>
                                </div>
                            </div>
                            <div class="d-flex mt-2 justify-content-between">
                                <p class="card-p">Mesa, AZ 85205, USA</p>
                                <p class="card-price pe-3">$12</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- ////////////////////////////////////Rating & Review////////////////////////////// -->
<div class="RatingReview mt-1">
    <div class="container">
        <div class="mt-sm-5 mt-2">
            <div class="row">
                <div class="col12 p-sm-0 ps-2 d-flex">
                    <div>
                        <img class=" rounded-circle" src="../../../assets/images/Ellipse 71.png" alt="">
                    </div>
                    <div class="ms-4">
                        <p class="review-name mb-2 text-center">Jackson</p>
                        <div class="d-flex justify-content-start stars12">
                            <i class="fas fa-star gold"></i>
                            <i class="fas fa-star gold ms-1"></i>
                            <i class="fas fa-star gold ms-1"></i>
                            <i class="fas fa-star gold ms-1"></i>
                            <i class="fas fa-star gold ms-1"></i>
                        </div>
                    </div>
                    <div class="ms-3">
                        <p class="review-date mt-4">28 Aug 2021</p>
                    </div>
                </div>
            </div>
            <div class="row mt-sm-5 mt-2">
                <div class="col-md-8">
                    <p class="review12">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer took
                        a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div class="col-md-4 d-flex justify-content-center">

                    <img class="reviewImg" src="../../../assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" alt="">

                </div>
            </div>
        </div>
        <div class="mt-sm-5 mt-4">
            <div class="row">

                <div class="col12 p-sm-0 ps-2 d-flex">
                    <div>
                        <img class=" rounded-circle" src="../../../assets/images/Ellipse 71.png" alt="">
                    </div>
                    <div class="ms-4">
                        <p class="review-name mb-2 text-center">Jackson</p>
                        <div class="d-flex justify-content-start stars12">
                            <i class="fas fa-star gold"></i>
                            <i class="fas fa-star gold ms-1"></i>
                            <i class="fas fa-star gold ms-1"></i>
                            <i class="fas fa-star gold ms-1"></i>
                            <i class="fas fa-star gold ms-1"></i>
                        </div>
                    </div>
                    <div class="ms-3">
                        <p class="review-date mt-4">28 Aug 2021</p>
                    </div>
                </div>
            </div>
            <div class="row mt-sm-5 mt-2">
                <div class="col-md-8">
                    <p class="review12">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer took
                        a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div class="col-md-4 d-flex justify-content-center">

                    <img class="reviewImg" src="../../../assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" alt="">

                </div>
            </div>
        </div>
    </div>
</div>